/* Reset styles */

html {
  box-sizing: border-box;
  //  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  // line-height: 1.15;
  // -moz-tab-size: 4;
  // tab-size: 4
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  // font-size: 100%;
  // line-height: 1.15;
  // margin: 0
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
