<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages-title">Advantages</h2>
    <div class="advantages-wrapper-left">
      <ul class="advantages-list">
        <li class="advantages-item">
          <div class="advantages-item-main">01</div>
          <div class="advantages-item-second">
            <div class="advantages-item-title">
              Gorgeous Low Poly Art: Discover beautiful 3D creations with each
              completed puzzle.
            </div>
          </div>
        </li>
        <li class="advantages-item">
          <div class="advantages-item-main">02</div>
          <div class="advantages-item-second">
            <div class="advantages-item-title">
              Mindful Relaxation: Enjoy calming visuals and soothing background
              music.
            </div>
          </div>
        </li>
        <li class="advantages-item">
          <div class="advantages-item-main">03</div>
          <div class="advantages-item-second">
            <div class="advantages-item-title">
              Challenging Yet Relaxing: Designed to test your skills without
              overwhelming.
            </div>
          </div>
        </li>
        <li class="advantages-item">
          <div class="advantages-item-main">04</div>
          <div class="advantages-item-second">
            <div class="advantages-item-title">
              Progressive Difficulty: Start with easy shapes and unlock
              intricate models.
            </div>
          </div>
        </li>
        <li class="advantages-item">
          <div class="advantages-item-main">05</div>
          <div class="advantages-item-second">
            <div class="advantages-item-title">
              Progressive Difficulty: Start with easy shapes and unlock
              intricate models.
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="advantages-image-wrapper">
      <picture class="advantages-image">
        <source
          srcset="
            /img/advantages/phone-desk@1x.png 1x,
            /img/advantages/phone-desk@2x.png 2x
          "
        />
        <img
          src="/img/advantages/phone-desk@1x.png"
          alt="phone"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="advantages-wrapper-right"></div>
    <div class="advantages-swipper-pagination">
      <div class="advantages-swipper-pagination-prev"></div>
      <div class="advantages-swipper-pagination-next"></div>
    </div>
  </div>
</section>
