<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages-title">Advantages</h2>
    <div data-swiper>
      <div data-swiper-wraper>
        <div class="advantages-wrapper-left" data-swiper-slide="0">
          <ul class="advantages-list">
            <li class="advantages-item">
              <div class="advantages-item-main">01</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Gorgeous Low Poly Art: <br />
                  Discover beautiful 3D creations with each completed puzzle.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">02</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Mindful Relaxation: <br />
                  Enjoy calming visuals and soothing background music.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">03</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Challenging Yet Relaxing: <br />
                  Designed to test your skills without overwhelming.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">04</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Realistic 3D Mechanics: <br />
                  Rotate models with precision to find the perfect angle.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">05</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Progressive Difficulty: <br />
                  Start with easy shapes and unlock intricate models.
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="advantages-image-wrapper">
          <img class="advantages-image "
            srcset="/img/advantages/phone-desk@1x.png 1x, /img/advantages/phone-desk@2x.png 2x"
            src="/img/advantages/phone-desk@1x.png" alt="phone screen" loading="lazy" />
        </div>
        <div class="advantages-wrapper-right" data-swiper-slide="1">
          <ul class="advantages-list">
            <li class="advantages-item">
              <div class="advantages-item-main">06</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Creative Exploration: <br />
                  Engage your imagination through artistic puzzles.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">07</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Minimalist Design: <br />
                  Clean UI for a distraction-free experience.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">08</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Frequent Content Updates: <br />
                  New puzzles and models added regularly.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">09</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Offline Play Supported:<br />Solve puzzles anytime, anywhere.
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-item-main">10</div>
              <div class="advantages-item-second">
                <div class="advantages-item-title">
                  Free-to-Play: <br />
                  Play at your own pace with optional in-app enhancements.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="advantages-swipper-pagination" data-swiper-pagination>
      <div class="advantages-swipper-pagination-prev" data-swiper-page="0"></div>
      <div class="advantages-swipper-pagination-next" data-swiper-page="1"></div>
    </div>
  </div>
</section>