<section class="description" id="description">
  <div class="container">
    <h2 class="description-title">Game Description</h2>
    <div class="description-container">
      <div class="description-dog-wrapper">
        <picture class="description-dog-image">
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/description/dog-mob@1x.png 1x,
              /img/description/dog-mob@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/description/dog-desk@1x.png 1x,
              /img/description/dog-desk@2x.png 2x
            "
          />
          <img src="/img/description/dog-mob@1x.png" alt="dog" loading="lazy" />
        </picture>
        <p class="description-text">
          Poly Zen: Puzzle & Art is a visually stunning 3D puzzle game that lets
          players relax, explore, and challenge their minds through the art of
          low poly creations.
        </p>
      </div>
      <div class="description-cat-wrapper">
        <picture class="description-cat-image">
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/description/cat-mob@1x.png 1x,
              /img/description/cat-mob@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/description/cat-desk@1x.png 1x,
              /img/description/cat-desk@2x.png 2x
            "
          />
          <img src="/img/description/cat-mob@1x.png" alt="cat" loading="lazy" />
        </picture>
        <p class="description-text">
          Rotate, twist, and connect scattered pieces to reveal intricate and
          beautiful 3D artworks. Every puzzle is a mindful journey, blending
          creativity with logic, and offering a rewarding escape into the world
          of digital art. Ideal for puzzle enthusiasts and creative souls, this
          game brings serenity and challenge in equal measure.
        </p>
      </div>
    </div>
  </div>
</section>
