<section class="faq" id="faq">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>
        <ul class="faq-accordion" data-accordion="faq">
            <li class="faq-acc-item">
                <h3 class="faq-question">Is Poly Zen: Puzzle & Art free to play?<button class="faq-btn" type="button">
                        <svg class="faq-icon" width="16" height="16">
                            <use href="/img/sprite.svg#ac-plus"></use>
                        </svg>
                    </button></h3>
                <div class="faq-acc-hide">
                    <p class="faq-answer">Yes! It’s free to download and enjoy, with optional purchases for added
                        features.</p>
                </div>
            </li>
            <li class="faq-acc-item">
                <h3 class="faq-question">Are there new puzzles added?<button class="faq-btn" type="button">
                        <svg class="faq-icon" width="16" height="16">
                            <use href="/img/sprite.svg#ac-plus"></use>
                        </svg>
                    </button></h3>
                <div class="faq-acc-hide">
                    <p class="faq-answer">Absolutely! We regularly update the game with new artistic puzzles.</p>
                </div>
            </li>
            <li class="faq-acc-item">
                <h3 class="faq-question">Can I play offline?<button class="faq-btn" type="button">
                        <svg class="faq-icon" width="16" height="16">
                            <use href="/img/sprite.svg#ac-plus"></use>
                        </svg>
                    </button></h3>
                <div class="faq-acc-hide">
                    <p class="faq-answer">Yes! All puzzles can be accessed offline once downloaded.</p>
                </div>
            </li>
            <li class="faq-acc-item">
                <h3 class="faq-question">What devices are supported?<button class="faq-btn" type="button">
                        <svg class="faq-icon" width="16" height="16">
                            <use href="/img/sprite.svg#ac-plus"></use>
                        </svg>
                    </button></h3>
                <div class="faq-acc-hide">
                    <p class="faq-answer">The game supports most Android devices with 3D capabilities.</p>
                </div>
            </li>
            <li class="faq-acc-item">
                <h3 class="faq-question">Is this game suitable for kids?<button class="faq-btn" type="button">
                        <svg class="faq-icon" width="16" height="16">
                            <use href="/img/sprite.svg#ac-plus"></use>
                        </svg>
                    </button></h3>
                <div class="faq-acc-hide">
                    <p class="faq-answer">Yes, the game is kid-friendly and perfect for all ages.</p>
                </div>
            </li>
        </ul>
    </div>
</section>