<section class="features" id="features">
    <div class="container">
        <h2 class="features-title">Main Gameplay Features</h2>
        <ul class="feats">
            <!-- 1 -->
            <li class="feats-item">
                <h3 class="feats-name">Rotate to Solve:</h3>
                <p class="feats-description">Use intuitive controls to rotate fragments and match shapes.</p>
            </li>
            <!-- 3 -->
            <li class="feats-item">
                <h3 class="feats-name">Level Up Gradually:</h3>
                <p class="feats-description">Advance from basic to complex models.</p>
            </li>
            <!-- 4 -->
            <li class="feats-item">
                <h3 class="feats-name">Visual & Audio Harmony:</h3>
                <p class="feats-description">Enjoy a blend of artful visuals and calming soundtracks.</p>
            </li>
            <!-- 6 -->
            <li class="feats-item">
                <h3 class="feats-name">Daily Challenges:</h3>
                <p class="feats-description">Take on a fresh puzzle every day.</p>
            </li>
            <!-- 5 -->
            <li class="feats-item">
                <h3 class="feats-name">Earn Rewards:</h3>
                <p class="feats-description">Complete puzzles to unlock new levels and challenges.</p>
            </li>
            <!-- 2 -->
            <li class="feats-item">
                <h3 class="feats-name">Discover Hidden Art:</h3>
                <p class="feats-description">Each puzzle unlocks a stunning low poly creation.</p>
            </li>
            <!-- 7 -->
            <li class="feats-item">
                <h3 class="feats-name">Gallery Mode:</h3>
                <p class="feats-description">View and admire all the art you've completed.</p>
            </li>
        </ul>
        <img class="feat-diamond" srcset="/img/features/feat_diamant_d.png 1x, /img/features/feat_diamant_d@2x.png 2x"
            src="/img/features/feat_diamant_d.png" alt="diamond" loading="lazy" />
    </div>
</section>