<footer class="footer">
    <div class="container">
        <ul class="policy">
            <li><a class="policy-link" href="/privacy-policy.html">Privacy policy</a></li>
            <li><a class="policy-link" href="/terms-and-conditions.html">Terms & Conditions</a></li>
            <li><a class="policy-link" href="/cookies-policy.html">Cookies Policy</a></li>
        </ul>
        <p class="footer-text">&copy;2025 <a class="policy-link" href="#">lucklightplay.com</a>, All rights reserved</p>

    </div>
</footer>