<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero-title">Unwind Your Mind Through Artful Play</h1>
    <div class="hero-image">
      <picture class="hero-image-picture">
        <source media="(max-width: 1199px)" srcset="
            /img/hero/diamant-hero-mobile@1x.png 1x,
            /img/hero/diamant-hero-mobile@2x.png 2x
          " />
        <source media="(min-width: 1200px)" srcset="
            /img/hero/diamant_hero-desk@1x.png 1x,
            /img/hero/diamant_hero-desk@1x.png 2x
          " />
        <img src="/img/hero/diamant-hero-mobile@1x.png" alt="diamant" width="190" height="173" loading="lazy" />
      </picture>
    </div>
    <a class="hero-btn" href="https://play.google.com/store/apps/details?id=low.poly.puzzle.game&hl=en&gl=us"
      target="_blank" rel="noopener noreferrer nofollow">
      <svg class="hero-btn-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-google-play"></use>
      </svg>
      <span class="hero-btn-title">Play Now</span>
    </a>
  </div>
</section>