<section class="howtoplay" id="howtoplay">
    <div class="container">
        <h2 class="howtoplay-title">How to Play</h2>
        <ol class="htp-rules">
            <li class="htp-rules-item">
                <h3 class="htp-rules-name">Start a Puzzle:</h3>
                <p class="htp-rules-description">Choose from a variety of low poly puzzles.</p>
            </li>
            <li class="htp-rules-item">
                <h3 class="htp-rules-name">Rotate & Observe: </h3>
                <p class="htp-rules-description">Use touch controls to rotate the pieces.</p>
            </li>
            <li class="htp-rules-item">
                <h3 class="htp-rules-name">Match Shapes:</h3>
                <p class="htp-rules-description">Align pieces until the full 3D image is revealed.</p>
            </li>
            <li class="htp-rules-item">
                <h3 class="htp-rules-name">Unlock New Art:</h3>
                <p class="htp-rules-description">Progress to more intricate models with every success.</p>
            </li>
            <li class="htp-rules-item">
                <h3 class="htp-rules-name">Daily Puzzles: </h3>
                <p class="htp-rules-description">Choose from a variety of low poly puzzles.</p>
            </li>
            <li class="htp-rules-item">
                <h3 class="htp-rules-name">Relax & Enjoy:</h3>
                <p class="htp-rules-description">Take your time and enjoy the calming journey.</p>
            </li>
        </ol>
        <picture>
            <source media="(max-width: 1199px)" srcset="
                      /img/howtoplay/htp_cat_m.png 1x,
                      /img/howtoplay/htp_cat_m@2x.png 2x
                    " />
            <source media="(min-width: 1200px)" srcset="
                      /img/howtoplay/htp_cat_d.png 1x,
                      /img/howtoplay/htp_cat_d@2x.png 2x
                    " />
            <img class="howtoplay-cat-image" src="/img/howtoplay/htp_cat_m.png" alt="Mozaic cat" width="288"
                height="261" loading="lazy" />
        </picture>
    </div>
</section>