<div data-popup-overlay data-visible="close">
  <div data-popup-modal>
    <h3>Cookies Policy</h3>
    <p>
      We use cookies to improve your experience on our website. By&nbsp;browsing this
      website, you agree to our use of cookies.
    </p>
    <div data-popup-buttons>
      <button type="button" data-popup-accept aria-label="Accept cookies">ACCEPT COOKIES</button>
      <button type="button" data-popup-decline aria-label="Decline cookies">DECLINE COOKIES</button>
    </div>
  </div>
</div>