<section class="reviews" id="reviews">
  <div class="container reviews-cont">
    <h2 class="reviews-title">User Reviews</h2>
    <div class="reviews-swiper swiper" data-reviews-swiper>
      <ul class="reviews-list swiper-wrapper" data-reviews-wrapper>
        <li class="reviews-item swiper-slide" data-reviews-slide>
          <div class="reviews-item-left">
            <picture class="reviews-item-image">
              <source
                srcset="
                  /img/reviews/user-1-mob@1x.png 1x,
                  /img/reviews/user-1-mob@2x.png 2x
                "
              />
              <img
                src="/img/reviews/user-1-mob@1x.png"
                alt="User's photo"
                width="82"
                height="97"
              />
            </picture>
          </div>
          <div class="reviews-item-right">
            <div class="reviews-item-stars">
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Ava K.</p>
            <p class="reviews-item-text">
              A calming and artistic experience. Perfect way to unwind.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide" data-reviews-slide>
          <div class="reviews-item-left">
            <picture class="reviews-item-image">
              <source
                srcset="
                  /img/reviews/user-2-mob@1x.png 1x,
                  /img/reviews/user-2-mob@2x.png 2x
                "
              />
              <img
                src="/img/reviews/user-2-mob@1x.png"
                alt="User's photo"
                width="82"
                height="97"
              />
            </picture>
          </div>
          <div class="reviews-item-right">
            <div class="reviews-item-stars">
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Leo M.</p>
            <p class="reviews-item-text">
              The puzzles are challenging but beautiful! So satisfying to finish
              them.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide" data-reviews-slide>
          <div class="reviews-item-left">
            <picture class="reviews-item-image">
              <source
                srcset="
                  /img/reviews/user-3-mob@1x.png 1x,
                  /img/reviews/user-3-mob@2x.png 2x
                "
              />
              <img
                src="/img/reviews/user-3-mob@1x.png"
                alt="User's photo"
                width="82"
                height="97"
              />
            </picture>
          </div>
          <div class="reviews-item-right">
            <div class="reviews-item-stars">
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Mia H.</p>
            <p class="reviews-item-text">
              Absolutely love the low poly art. It's like creating sculptures!
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide" data-reviews-slide>
          <div class="reviews-item-left">
            <picture class="reviews-item-image">
              <source
                srcset="
                  /img/reviews/user-4-mob@1x.png 1x,
                  /img/reviews/user-4-mob@2x.png 2x
                "
              />
              <img
                src="/img/reviews/user-4-mob@1x.png"
                alt="User's photo"
                width="82"
                height="97"
              />
            </picture>
          </div>
          <div class="reviews-item-right">
            <div class="reviews-item-stars">
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Noah J.</p>
            <p class="reviews-item-text">
              Best puzzle game for relaxing and keeping the mind sharp.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide" data-reviews-slide>
          <div class="reviews-item-left">
            <picture class="reviews-item-image">
              <source
                srcset="
                  /img/reviews/user-5-mob@1x.png 1x,
                  /img/reviews/user-5-mob@2x.png 2x
                "
              />
              <img
                src="/img/reviews/user-5-mob@1x.png"
                alt="User's photo"
                width="82"
                height="97"
              />
            </picture>
          </div>
          <div class="reviews-item-right">
            <div class="reviews-item-stars">
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="reviews-item-icon" width="17" height="17">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Lily S.</p>
            <p class="reviews-item-text">
              Every level feels like uncovering a hidden masterpiece.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <button data-btn-left>
      <svg class="reviews-swiper-btn-left" width="34" height="68">
        <use href="/img/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button data-btn-right>
      <svg class="reviews-swiper-btn-right" width="34" height="68">
        <use href="/img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <div class="reviews-swiper-pagination" data-reviews-pagination></div>
  </div>
</section>
