.proj-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.proj-wrap {
    margin-bottom: 32px;
}

.proj-wrap li {
    display: flex;
}

.proj-slide {
    flex-direction: column;
    border-radius: 24px;
    
}

.proj-content {
    border-radius: 24px 24px 0 0;
    background-color: #fafafa;
    padding: 32px;
    color: #1c1d20;
    font-weight: 500;
}

.proj-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 96px;
}

.proj-tag {
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.proj-text {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.proj-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ed3b44;
    
    border-radius: 60px;
    padding: 13px 32px;
    width: 141px;
    height: 45px;

    
    color: #fafafa;
    transition: background-color 0.3s ease;
}

.proj-link:hover,
.proj-link:focus {
    background: #e0373f;
}

.proj-img {
    padding: 100px 16px;
    background-color: #242527;
    border-radius: 0 0 24px 24px;
}

.proj-nav-btn {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.proj-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 13px;
    background-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, border, background-color;
}

.proj-button-left {
    transform: rotateY(180deg);
}

.proj-button:focus,
.proj-button:hover {
    background-color: #fafafa33;
}

.proj-button:active {
    background-color: #fafafa66;
}

.proj-button:disabled {
    color: rgba(250, 250, 250, 0.2);
    border: 1px solid rgba(250, 250, 250, 0.2);
    background-color: transparent;
    cursor: unset;
}

.proj-svg {
    fill: none;
    stroke: currentColor;
}

.proj-button-left:disabled .proj-svg,
.proj-button-right:disabled .proj-svg {
    stroke: #3b3b3b;
}

/* Tablet */
@media screen and (min-width: 768px) {


    .proj-wrap {
        margin-bottom: 64px;
    }

   

    .proj-content {
        padding: 64px;
    }

    .proj-list {
        margin-bottom: 164px;
    }

    .proj-tag {
        padding: 18px;
    }

    .proj-text {
        max-width: 494px;
        font-size: 44px;
        line-height: 1;
    }

    .proj-link {
        padding: 18px 50px;
        width: 177px;
        height: 55px;
    }

    .proj-img {
        padding: 120px 45px;
    }

    .proj-nav-btn {
        gap: 20px;
    }

    .proj-button-left,
    .proj-button-right {
        padding: 17px;
    }

    .proj-svg {
        width: 32px;
        height: 32px;
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
   

    .proj-slide {
        flex-direction: row;
    }

    .proj-content {
        border-radius: 24px 0 0 24px;
        width: 50%;
    }

    .proj-list {
        margin-bottom: 223px;
    }

    .proj-img {
        border-radius: 0 24px 24px 0;
        padding: 120px 37px;
        width: 50%;
    }
}