.advantages .container {
}

.advantages-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3;
  text-align: center;
  color: #19284c;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 40px;
  }
}
.advantages-wrapper-left {
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.advantages-item {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  width: 288px;
  height: 72px;
  background: #3f4661;
  overflow: hidden;
}
.advantages-item-main {
  padding: 8px 0px 0px 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #b8ccde;
}
.advantages-item-second {
  border-radius: 16px;
  padding: 8px;
  width: 229px;
  height: 64px;
  background: #b8ccde;

  display: flex;
  align-items: center;
}
.advantages-item-title,
.advantages-item-description {
  font-size: 12px;
  line-height: 1.3;
  color: #19284c;
}

.advantages-swipper-pagination {
  // display: inline-flex;
  // gap: 16px;
}

[data-swiper] {
  overflow: hidden;
}

[data-swiper-wraper] {
  display: flex;
  width: 200%;
  transition: transform 300ms ease;
}

[data-swiper-slide] {
  flex: 0 0 100%;
  box-sizing: border-box;
}

[data-swiper-pagination] {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

[data-swiper-page] {
  border-radius: 8px;
  width: 24px;
  height: 4px;
  background: #fafafa;
  transition: background 300ms;
}

[data-swiper-page].active {
  background: #fd688d;
}

.advantages-image-wrapper {
  display: none;
}
@include media(desktop) {
  [data-swiper-wraper] {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  [data-swiper-slide] {
    flex-basis: auto;
  }
  .advantages-item {
    border-radius: 20px;
    width: 329px;
    height: auto;
    overflow: visible;
    padding-bottom: 8px;
  }
  .advantages-item-main {
    padding: 12.76px 0px 0px 16px;
    font-size: 48px;
  }
  .advantages-item-second {
    border-radius: 20px 0px 20px 20px;
    padding: 0 19px;
    width: 241px;
    height: 116px;
  }
  .advantages-item-title {
    font-size: 16px;
  }
  .advantages-swipper-pagination {
    display: none;
  }
  .advantages-image-wrapper {
    display: block;
  }
  .advantages-image {
    width: 251px;
    height: 552px;
  }
}
