:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: #19284c;
  background-color: #b8ccde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 100%;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
.icon {
  stroke: currentColor;
  fill: none;
}
