:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  // line-height: 24px;
  font-weight: 400;

  color: #19284c;
  background-color: #b8ccde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 100%;
  min-height: 100vh;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

html {
  scroll-behavior: smooth;
}
