.hero {
    min-width: 320px;
    height: 643px;
    background-image: url(/img/hero/bg-hero-mob@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
        background-image: url(/img/hero/bg-hero-mob@2x.png)
    }

    @include media(desktop) {
        min-width: 1200px;
        height: 780px;
        background-image: url(/img/hero/bg-hero-desk@1x.png);
        
        @media (min-resolution: 2dppx) {
        background-image: url(/img/hero/bg-hero-desk@2x.png)
        }
    }
}

.hero .container {
    padding-block: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(desktop) {
        padding-block: 236px 128.5px;
        flex-direction: row;
    }
}    

.hero-title {
    width: 250px;
    margin: 0 auto;   
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #19284c;

    @include media(desktop) {
        order: 1;
        
        font-size: 56px;
        text-align: start;
    }
}

.hero-image {
    margin: 64px auto;

    @include media(desktop) {
        order: 0;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

.hero-image-picture img {
    @include media(desktop) {
        width: 458px;
        height: 415px;
    }
}

.hero-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    padding: 8px 40px;
    width: 288px;
    height: 48px;
    border: none;
    box-shadow: 0 4px 4px 0 #462588;
    background: #614796;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fafafa;

    @include media(desktop) {
        order: 2;

        width: 246px;
        height: 60px;
    }
}

.hero-btn-icon {
}
.hero-btn-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fafafa;
}