.reviews-cont {
  position: relative;
}

.reviews-title {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #19284c;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

.container [data-reviews-swiper] {
  // margin-left: -16px;
  // margin-right: -16px;
  padding-right: 4px;

  @include media(desktop) {
    max-width: 870px;
    margin: 0 auto;
  }
}

[data-reviews-wrapper] {
  width: 100%;
}

ul > [data-reviews-slide] {
  display: flex;
  gap: 14px;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 3px 3px 0 0 #654d97;
  background: #7864a1;
  margin-bottom: 3px;

  @include media(desktop) {
    border-radius: 20px;
    padding: 32px;
  }
}

[data-reviews-slide]:last-of-type {
  display: none;

  @include media(desktop) {
    display: block;
    visibility: hidden;
    pointer-events: none;
    background: transparent;
  }
}

[data-reviews-pagination] {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 0;

  @include media(desktop) {
    margin-top: 40px;
  }
}

[data-reviews-page] {
  border-radius: 8px;
  width: 24px;
  height: 4px;
  background-color: #fafafa;

  transition: background-color 300ms ease;

  @include media(desktop) {
    height: 8px;
  }
}

[data-reviews-page].active {
  background-color: #fd688d;
}

[data-btn-left],
[data-btn-right] {
  border: none;
  background-color: transparent;
  display: none;

  // &:hover {
  // }

  @include media(desktop) {
    display: block;
  }
}

[data-btn-left] {
  position: absolute;
  left: 72px;
  top: 50%;
  z-index: 10;
}

[data-btn-right] {
  position: absolute;
  right: 72px;
  top: 50%;
  z-index: 10;
}

.reviews-swiper-btn-left,
.reviews-swiper-btn-right {
  fill: #19284c;
}

.reviews-item-left img {
  object-fit: cover;

  @include media(desktop) {
    border-radius: 8px;
    width: 124px;
    height: 153px;
  }
}
.reviews-item-right {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  gap: 6px;

  @include media(desktop) {
    gap: 15px;
  }
}
// .reviews-item-stars {
// }

.reviews-item-icon {
  @include media(desktop) {
    width: 25px;
    height: 25px;
  }
}

.reviews-item-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #fafafa;

  @include media(desktop) {
    font-size: 24px;
  }
}
.reviews-item-text {
  font-size: 12px;
  line-height: 130%;
  color: #fafafa;

  @include media(desktop) {
    font-size: 16px;
  }
}
